*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

#service{
    padding: 100px 0;
}

.service_wrapper{
    display: flex;
    gap: 30px;
}

.service_item{
    width: 270px;
    height: 150px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_item .counter{
    font-size: 70px;
}
